.hero{
    width: 100%;
    height: 660px;
    background-color: $Color-black;
    &__content{
        width: 100%;
        height: 100%;
        padding-left: 89px;
        padding-top: 80px;
        display: flex;
        &--left{
            width: 750px;
        }
    }
    &__avatar{
        height: 349px;
        width: 349px;
        border-radius: 230px;
        background-color: $Color-orange;
        margin-left: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 95%;
            height: 95%;
            object-fit: contain;
            border-radius: 50%;
        }

    }
    &__title{
        height: 250px;
        width: porcentage(636);
      
       //background-color:yellow;
    }
    p{
        color: $Color-gray-light;
        margin-top: 24px;
    }
    &__btn{
        @include button(243px);
        margin-top: 24px;
        transition: .3s all ease;
        background-color: $Color-orange;
        a{
            text-decoration: none;
            color: $Color-white;
        }
    }
    &__btn:hover{
            background-color: $Color-green;
    }
    @include tablet {
        &__content{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-color: red;  
            padding-top: 50px;
        }
        h1{
            font-size: 3.5rem;
            line-height: 4rem;
        }
        &__avatar{
            
            margin-left:unset;
            
        }
    }
   
    @include medium {
        &__title{
            width: 90%;
            height: 200px;
            //background-color: yellow;
            h1{
                font-size: 1.5rem;
                line-height: 4rem;
            }
    
        }
        &__avatar{
            height: 249px;
            width: 249px;
            border-radius: 50%;
            background-color: $Color-orange;
            margin-left:unset;
            
        }

    } 
    @include small{
        &__content{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            padding-left: 1rem;
            &--left{
                width: 100%;
            }
        }
        &__title{
            width: 100%;
            height: 200px;
            h1{
                text-align: center;
                font-size: 2.5rem;
                line-height: 4rem;
            }
        }
    }
}


.redes{
    width: 103px;
    height: 25px;
    margin-right: 32px;
    h4{
        color: $Color-orange;
    }
    &__icons{
        margin-top: 12px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
}